@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  .nav-item {
    @apply px-4 py-1.5 rounded-full text-white/[70] hover:bg-white/10 text-white transition duration-300;
  }
  .hero-ring {
    @apply absolute inset-0  border border-emerald-300/5 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full shadow-[0_0_80px_inset] shadow-emerald-300/5;
  }
}

@layer utilities {
  .container {
    @apply lg:max-w-5xl;
  }
}
